<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>
  <title>Burger Eater</title>
</head>

<body>
  <header>
    <h2>Please Help Yourself</h2>
    <p>Remember once you eat it, there is no going back. If you eat one please replace it with another.</p>
  </header>

  <main>
    <content class="image-container">
      <img class="img-center" src="/assets/images/burger_svg.svg" height="200px" width="auto">
    </content>
    {{{ body }}}
  </main>


</body>

</html>